.submissionScreen {
  width: 90%;
  max-width: 815px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.submission {
  text-align: left;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 3rem 3rem 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.submissionHeader {
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
}

.contactSubmissionsLinkWrap {
  max-width: 500px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
