.access {
  width: 90%;
  max-width: 850px;
  margin: 5rem auto 0;
  min-height: 700px;
}

.accessWrap {
  text-align: center;
}

.accessUl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .accessLink {
  display: block;
} */
