.vendingRequestMain {
  padding-top: 3rem;
}

.requestInfoWrap,
.requestUpdateFormWrap,
.commentsWrap {
  width: 90%;
  max-width: 450px;
  margin: 0 auto 3rem;
}

.requestUpdateFormContentWrap,
.requestInfo {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.requestUpdateFormContentWrap {
  margin-bottom: 0.5rem;
}

.requestHeader {
  font-size: 24px;
}

.updateRequestBtn {
  width: 100%;
  background: #f3f3f3;
  color: var(--black);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

.updateRequestBtn:hover {
  background: var(--black);
  color: var(--off-white);
}

.commentForm {
  max-width: 450px;
  margin: 0 auto 3rem;
}

.comment {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.commentNameDateWrap {
  display: flex;
  justify-content: space-between;
}

.priceInputWrap {
  position: relative;
}

.marginSymbol {
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 16px;
  font-weight: bold;
}

.profitSymbol {
  position: absolute;
  left: 5px;
  top: 6.1px;
  font-size: 16px;
  /* font-weight: bold; */
}
