.vendingRequestMain {
  padding-top: 3rem;
}

.menuLinkWrap {
  display: flex;
  max-width: 650px;
  justify-content: space-between;
  margin: 0 auto 2rem;
}

.requestInfoWrap,
.requestUpdateFormWrap,
.commentsWrap {
  width: 90%;
  max-width: 450px;
  margin: 0 auto 3rem;
}

.requestUpdateFormContentWrap,
.requestInfo {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.requestUpdateFormContentWrap {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
}

.updateBtn,
.commentBtn {
  margin-top: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
}

.requestInfo {
  font-size: 17px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
}

.requestInfo p {
  line-height: 1.75;
}

/* color black request and comment??? */
/* .requestInfo,
.comment {
  background: var(--black);
  color: var(--off-white);
} */

.requestUpdateFormContentWrap {
  margin-bottom: 0.5rem;
}

.requestHeader {
  font-size: 24px;
}

.requestHeader,
.commentHeader,
.updateRequestHeader,
.feedHeader {
  padding-bottom: 0.5rem;
}

.updateRequestBtn {
  width: 100%;
  background: #f3f3f3;
  color: var(--black);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

.updateRequestBtn:hover {
  background: var(--black);
  color: var(--off-white);
}

.commentForm {
  max-width: 450px;
  margin: 0 auto 3rem;
}

.textArea {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
}

.comment {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.commentNameDateWrap {
  display: flex;
  justify-content: space-between;
}

.priceInputWrap {
  position: relative;
}

.marginSymbol {
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 16px;
  font-weight: bold;
}

.profitSymbol {
  position: absolute;
  left: 5px;
  top: 6.1px;
  font-size: 16px;
  /* font-weight: bold; */
}
