.vendingSubmission {
  min-height: 750px;
  width: 90%;
  max-width: 850px;
  margin: 2rem auto 0;
}

.vendingSubmissionBtn {
  background: var(--black);
  color: var(--off-white);
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: block;
  margin: 2rem auto 0;
  width: 100%;
}

.vendingSubmissionBtn:hover {
  color: var(--black);
  background: var(--off-white);
  border: 1px solid var(--black);
}

.reqDropdown {
  height: 2.3rem;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--black);
  width: 100%;
}
