.contactSubmissionsHeader {
  text-align: center;
  margin-bottom: 1rem;
}

.contactSubmissionsWrap {
  width: 90%;
  max-width: 375px;
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}

a.submissionLink:visited {
  color: rgba(81, 81, 244, 0.822);
}
