.aboutUsWrap {
  margin-top: 3rem;
}

.aboutUsH1 {
  margin-bottom: 0.2rem;
}

.aboutUsH2 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.aboutUsP {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.imgWrap {
  position: relative;
  margin: 2rem auto 3rem;
  max-width: 815px;
  height: 519px;
}

@media (max-width: 897px) {
  .imgWrap {
    max-width: 600px;
    height: 382px;
  }
}

@media (max-width: 687px) {
  .imgWrap {
    max-width: 400px;
    height: 255px;
  }

  .aboutUsWrap {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .imgWrap {
    max-width: 337px;
    height: 215px;
  }
}
