.articlePreview {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.previewTitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.previewLink {
  display: inline-block;
  text-decoration: none;
  width: 250px;
  height: 250px;
  color: var(--black);
}

.previewLink:visited {
  text-decoration: none;
  color: var(--black);
}

.previewImage {
  border-radius: 5px;
}
