.articlePreview {
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
}

.previewTitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.previewLink {
  display: inline-block;
  text-decoration: none;
  width: 250px;
  height: 250px;
  color: var(--black);
}

.previewLink:visited {
  text-decoration: none;
  color: var(--black);
}

.previewImage {
  border-radius: 5px;
}
