.authForm {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.authFormBtn {
  width: 100%;
  font-size: 16px;
  color: var(--black);
  background: var(--off-white);
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-weight: 500;
}

.authFormBtn:hover {
  background: var(--black);
  color: var(--off-white);
}
