.authForm {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.authFormBtn {
  width: 100%;
  font-size: 16px;
  color: var(--black);
  background: var(--off-white);
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.authFormBtn:hover {
  background: var(--black);
  color: var(--off-white);
}
