.logoutBtn {
  color: var(--black);
  background: var(--off-white);
  /* border: 1px solid var(--black); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  font-size: 16px;
  /* width: 150px; */
  font-weight: 500;
}

.logoutBtn:hover {
  background: var(--black);
  color: var(--off-white);
}
