.logoutBtn {
  background: var(--black);
  color: var(--off-white);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 2rem auto 0;
  font-size: 16px;
}

.logoutBtn:hover {
  color: var(--black);
  background: var(--off-white);
  border: 1px solid var(--black);
}
