:root {
  --black: #1b1b1b;
  --off-white: #f3f3f3;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}

/* UTILITIES */
.underline {
  text-decoration: underline;
}
