:root {
  --black: #1b1b1b;
  --off-white: #f3f3f3;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}

/* UTILITIES */
.underline {
  text-decoration: underline;
}

.link,
.link:visited {
  color: var(--black);
}

.link:hover {
  text-decoration: none;
}

.label {
  font-size: 18px;
  display: block;
  text-align: left;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 5px;
  height: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.text-area {
  width: 100%;
  border-radius: 5px;
  padding: 0.2rem;
}

.btn {
  border: none;
  background: none;
  border-radius: 5px;
}
