.main {
    position: relative;
    margin: 0 auto;
    min-height: 900px;
    background-image: url('../public/cti_blog_hero_original_2000_optimized.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
}

.mainContainer {
    max-width: 1440px;
    min-height: 900px;
    margin: 0 auto;
    padding-left: 2rem;
}
.heroText {
    position: absolute;
    /* left: 12%; */
    top: 7rem;
    width: 475px;
    line-height: 1.2;
    color: var(--off-white)
}

.tag {
    font-size: 78px;
}

.subTag {
    font-weight: bold;
    font-size: 29px;
    margin-left: 15rem;
}

@media (max-width: 1440px) {
    .main {
        position: relative;
        margin: 0 auto;
        min-height: 900px;
        background-image: url('../public/hero_img_2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 65%;
        background-position-x: 50%;
    }
}
@media (max-width: 800px) {
    .main {
        background-position-x: 60%;
    }
}